body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;

    div.container {
        min-width: 390px;
        max-width: 780px;
        margin: 0 auto;
        background-color: white;
        
        header{
            img {
                display: block;
                width: 100%;
            }
        }

        section.middle {
            min-height: 500px;
            padding: 5px 10px;
            background-image: url('HUMIS assests/uofu_medallion_rt.gif');
            background-repeat: no-repeat;
            background-position: bottom right;

            > nav {
                text-align: center;
                font-size: 10px;
                text-transform: uppercase;

                a {
                    color: black;
                    border-right: 1px solid black;
                    padding-right: 5px;
                    margin-right: 5px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    img {
                        vertical-align: middle;
                    }

                    &:last-of-type {
                        border-right: none;
                    }
                }

                &.bottom {
                    text-transform: lowercase;
                }
            }
        }
        footer {
            background-color: #77793E;
            text-align: center;
            color: white;
            font-size: 10px;
            padding: 10px 0;
        }

        /* Tablet & Up overrides */
        @media screen and (width >= 700px) {
            border: 10px solid black;
            
            section.middle {
                > nav {
                    text-align: right;
                }
            }
        }
    }
}


