body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;

    div.container {
        width: 780px;
        border: 2px solid red;
        margin: 0 auto;
        background-color: white;

        section.middle {
            min-height: 500px;
            padding: 5px 10px;
            background-image: url('HUMIS assests/uofu_medallion_rt.gif');
            background-repeat: no-repeat;
            background-position: bottom right;

            > nav {
                text-align: right;
                font-size: 10px;
                text-transform: uppercase;

                a {
                    color: black;
                    border-right: 1px solid black;
                    padding-right: 5px;
                    margin-right: 5px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    img {
                        vertical-align: middle;
                    }

                    &:last-of-type {
                        border-right: none;
                    }
                }

                &.bottom {
                    text-transform: lowercase;
                }
            }
        }

        div.green-box {
            min-height: 400px;
            background-color: #D2D2BB;
            padding: 20px 30px;
            margin: 10px 0 100px;
            border-radius: 10px;

            aside {
                &.left {
                    float: left;
                    width: 30%;
                    min-height:700px;
                    position: relative;

                    nav {
                        padding: 0 20px;
                        a {
                            display: block;
                            color: #303137;
                            font-size: 10px;
                            padding: 10px 0 10px 15px;
                            text-transform: uppercase;
                            text-decoration: none;
                            border-bottom: 2px solid #616643;

                            &:hover {
                                background-color: #616643;
                                color: white;
                            }
                        }

                    }

                    div.links {
                        margin-top: 40px;
                        position:absolute;
                        bottom: 0;
                        right: 0;
                    }
                }

                &.right {
                    float: right;
                    width: 60%;
                    background-color: white;
                    padding: 10px;
                    
                    img{
                        width:100%;
                    }

                    h1 {
                        font-size: 16px;
                        font-weight: normal;
                        color: #585F2B;
                        border-bottom: 2px dashed #C43834;
                    }

                    p {
                        font-size: 12px;
                    }

                    div.links {
                        text-align: right;
                        
                        a {
                            font-size: 10px;
                            text-transform: uppercase;
                            color: red;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }

                        }
                    }


                }
            }
        }


        footer {
            background-color: #77793E;
            text-align: center;
            color: white;
            font-size: 10px;
            padding: 10px 0;
        }
    }
}

